@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.notecard {
  background: #ffffff;
  border: solid 2px black;

  border-radius: 5px;
  margin: 5px;
}
.notecard .ant-card-actions {
  background: #ebeaea;

  border-radius: 5px;
}
